<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Albums VUE + AJAX</title>
     <!-- file CSS -->
     <link rel="stylesheet" href="style.css">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&display=swap" rel="stylesheet">
    <!--VUE  development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- AJAX -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
</head>
<body>



    <div id="app_Vue">
        <header>
            <div class="header_nav color1">
                <img src="img/spotify_logo.png" alt="logo di spotify">
                <div class="select">
                    <select name="slct" id="select_genre" class ="color1" v-model="chosen_genre">
                        <option selected disabled>Which genre are you feeling today ? </option>
                        <option value="">All genres</option>
                        <option v-for = "single_genre in genre" :value="single_genre"> {{single_genre}}</option>

                    </select>
                </div>
            </div>
        </header>

        <main>
            <div class="card color1" v-for="album in album_arr" v-if="album.genre == chosen_genre || chosen_genre == '' ">
                <img :src="album.poster" :alt="album.title" alt="album di">
                <h2> {{ album.title }} </h2>
                <div class="bottom_info">
                    <p> {{ album.author }} </p>
                    <p> {{ album.year }} </p>
                </div>

            </div> 
        </main>
       
    </div>

    <!-- File JavaScript da mettere a fine HTML-->
    <script src="script.js" charset="utf-8"></script> 
</body>
</html>